*.pyc
*.csv
*.png
*.sdf
*.dict
*.mol_dict
*.pkl
*.json
*.log
*.pth
analyses/
*.map
*.pdb
*.fld
*.xyz
*.pdbqt
*.dat
*.txt
*.glg
*.gpf
post_hoc_filtering/post_processed_graphics.py 
post_hoc_filtering/filtering.py
post_hoc_filtering/brics_attempt.ipynb
post_hoc_filtering/known_inhib_analysis.py